.form > label{
    display:block;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

li a:hover {
    background-color: #555;
    color: white;
}

input[type=text] {
    border: 2px solid dodgerblue;
    border-radius: 4px;
}

/*.form-inline button:hover {*/
/*    background-color: royalblue;*/
/*}*/