@media screen and (min-width:  992px) {
    .form input{
        max-width: 80%;
    }

    .form textarea{
        max-width: 90%;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 0;
    }

    a {
        display: block;
    }
}

main {
    height: 60vh;
    padding: 30px
}

body {
    margin: 0;
}

footer {
    border-top: 2px solid black;
    margin-top: 2vh;
    padding-top: 30px;
}

nav {
    width: 95vw;
    background-color: #D6EFFF;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
}

a:hover {
    background-color: #C6E9FF;
}

.button {
    padding-top: 10px;
    margin-left: 50vh;
}

div::first-letter {
    text-transform: uppercase;
}

h1:hover {
    transition: background-color 1s linear;
    background-color: limegreen;
}

h2:hover {
    transition: background-color 1s linear;
    background-color: indianred;
}

a:hover, p:hover {
    opacity: 0.8;
    transition: background-color 1s linear;
    background-color: cornsilk;
}

.logo:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}