main{
    height: 60vh;
    border: 2px solid black;
    padding: 30px
}

footer {
    border-top: 2px solid black;
    margin-top: 2vh;
    padding-top: 30px;
}

.button{
    padding-top: 10px;
    margin-left: 50vh;
}

div::first-letter{
    text-transform: uppercase;
}

h1:hover{
    transition: background-color 1s linear;
    background-color: limegreen;
}

h3:hover{
    transition: background-color 1s linear;
    background-color: greenyellow;
}

a:hover, p:hover{
    transition: background-color 1s linear;
    background-color: yellow;
}

.logo:hover{
    transition: background-color 1s linear;
    background-color: darkseagreen;
}

/* selected link */
a:active{
    color: beige;
}

/* visited link */
a:visited {
    color: green;
}