@media screen and (min-width:  992px) {
    .form input{
        max-width: 80%;
    }

    .form textarea{
        max-width: 90%;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 0;
    }

    a {
        display: block;
    }
}

main {
    min-height: 90vh;
}

footer {
    margin-top: 2vh;
    border-top: 2px solid black;
    padding-top: 2vh;
}

.logo {
    opacity: 1;
    text-transform: lowercase;
}

p.italic {
    font-style: italic;
}

.logo::first-letter {
    text-transform: uppercase;
}

.logo:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}